.DS_Store
/*.gem
/.idea
/.install
/.irb
/.irb_history
/.test.db*
/.yardoc
/coverage
/doc
/logs
/sample-rails-app/tmp
/sample-rails-app/storage
/sample-rails-app/log
/sample-lib/tmp
/sample-lib/storage
